<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="AllMRMProductIonTolerance" value="0.04"/>
    <!-- IMS effective drift length: set value to "standard" or a length in centimeters -->
    <add key ="ImsEffectiveDriftLength_cm" value="78.236"/>
  </appSettings>
</configuration>