**/*.pyc
**/*.map
**/*.md5
**/*.tex
**/*.hdf5
**/*.dll
**/*.exe
unidec_doc
.gitignore
.idea
**/*.spec
**/*.sdf
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.VC.db
**/*.o
**/*.obj
**/*.suo
conf.dat
.git
.pytest_cache
unidec/src/UniDec/.vs
unidec/src/UniDec/x64
UD_peak_width.h
Licensing
Scripts
.svn
dist
build
old
TestSpectra
default_conf.dat

pyinstaller_64.bat
pyinstaller_64_dist.bat
test.py
unidec/bin/Other_builds/
/unidec/bin/multiplierz/
test_GUI.py
build.bat
unidec/metaunidec/test_MUD.py
unidec/bin/CDCReaderOld.exe
unidec/modules/fft_test.py
unidec/src/UniDec/compilewin.bat
unidec/src/UniDec/UniDec.pdb
unidec/src/UniDec/compilewinpgcc.bat
/unidec/modules/GridDecon2.py
unidec/modules/1D_Mass_Defects.txt
unidec/modules/2D_Mass_Defects.txt
unidec/modules/Mass_Defect_Extracts.txt
unidec/modules/Mass_Defect_Grid.txt
unidec/modules/Total_1D_Mass_Defects.txt
unidec/modules/Total_2D_Mass_Defects.txt
unidec/modules/Mass_Defect_Extracts_xvals.txt
unidec/modules/0_1D_Mass_Defects.txt
unidec/modules/0_2D_Mass_Defects.txt
unidec/modules/1_1D_Mass_Defects.txt
unidec/modules/1_2D_Mass_Defects.txt
unidec/src/UniDec/UD_sg.h
unidec/bin/old_waters/
unidec/modules/Mass_Defect_Extracts_Total.txt
UniDecPastedSpectra/
/unidec/iFAMS/test_unidecfiles/
/unidec/modules/waters_importer/old/
/unidec/modules/waters_importer/MassLynxLockMassProcessor.py
/unidec/modules/waters_importer/MassLynxRaw.lib
 /__pycache__/
 __pycache__/
 __pycache__
 **/__pycache__
unidec/bin/mkl_intel_thread.dll
__pycache__/
unidec/modules/thermo_reader/greparam.py
MANIFEST.in
desktop.ini
unidec/bin/recent.txt
ExtractFull2D_Da.txt
extracts.txt
sums.txt
ofile.dat
BSA_report.aux
BSA_report.log
BSA_report.out
unidec/modules/thermo_reader/RawFileReader
unidec/modules/thermo_reader/RawFileReaderExample
unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/Peaks_Mass_Defects.txt
**/*.diagsession
unidec/src/UniDec/UniDec.common.settings
unidec/bin/recentCD.txt
unidec/modules/isolated_packages/ZoomBoxMargot.py
**/*.feather
unidec/bin/Other_builds.zip
unidec/bin/Example Data
unidec/bin/Presets/CDMS/Heck_CDMS_AAVs_120K_0148_slope
unidec/bin/Presets/CDMS/Heck_CDMS_AAVs_120k_0156
unidec/bin/Presets/CDMS/Heck_CDMS_AAVs_240K_02193_slope
unidec/bin/Presets/CDMS/Heck_CDMS_AAVs_240K_021_slope

