**/*.pyc
**/*.map
**/*.md5
**/*.tex
**/*.hdf5
**/*.dll
**/*.exe
unidec_doc
.gitignore
.idea
**/*.spec
**/*.sdf
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.VC.db
**/*.o
**/*.obj
**/*.suo
conf.dat
.git
.pytest_cache
unidec_src/UniDec/.vs
unidec_src/UniDec/x64
UD_peak_width.h
Licensing
Scripts
.svn
dist
build
old
TestSpectra
default_conf.dat
unidec_src/cfunction/x64
unidec_src/cfunction/libmypfunc32.dll
pyinstaller_64.bat
pyinstaller_64_dist.bat
test.py
unidec_bin/Other_builds/
unidec_src/Old
test_GUI.py
build.bat
metaunidec/test_MUD.py
unidec_bin/CDCReaderOld.exe
unidec_modules/fft_test.py
unidec_src/UniDec/compilewin.bat
unidec_src/UniDec/UniDec.pdb
unidec_src/UniDec/compilewinpgcc.bat
/unidec_modules/GridDecon2.py
/unidec_bin/multiplierz/
unidec_modules/1D_Mass_Defects.txt
unidec_modules/2D_Mass_Defects.txt
unidec_modules/Mass_Defect_Extracts.txt
unidec_modules/Mass_Defect_Grid.txt
unidec_modules/Total_1D_Mass_Defects.txt
unidec_modules/Total_2D_Mass_Defects.txt
unidec_modules/Mass_Defect_Extracts_xvals.txt
unidec_modules/0_1D_Mass_Defects.txt
unidec_modules/0_2D_Mass_Defects.txt
unidec_modules/1_1D_Mass_Defects.txt
unidec_modules/1_2D_Mass_Defects.txt
unidec_src/UniDec/UniDec.VC.VC.opendb
unidec_src/UniDec/UD_sg.h
unidec_src/UniDec/UniDec_Mainh-rev485.h
unidec_src/UniDec/UniDech-rev511.h
unidec_bin/old_waters/
unidec_modules/Mass_Defect_Extracts_Total.txt
UniDecPastedSpectra/
iFAMS/test_unidecfiles/
/unidec_modules/waters_importer/old/
/unidec_modules/waters_importer/MassLynxLockMassProcessor.py
/unidec_modules/waters_importer/MassLynxRaw.lib
unidec_src/UniDec/UniDec.log
unidec_src/UniDec/oldVS/
 /__pycache__/
 __pycache__/
 __pycache__
 **/__pycache__
unidec_bin/mkl_intel_thread.dll
__pycache__/
unidec_modules/thermo_reader/greparam.py
unidec_bin/Presets/Marius/
MANIFEST.in
desktop.ini
unidec_bin/recent.txt
ExtractFull2D_Da.txt
extracts.txt
sums.txt
ofile.dat
BSA_report.aux
BSA_report.log
BSA_report.out
unidec_modules/thermo_reader/RawFileReader
unidec_modules/thermo_reader/RawFileReaderExample
unidec_bin/Example Data/POPC_Nanodiscs_unidecfiles/Peaks_Mass_Defects.txt
**/*.diagsession
unidec_src/UniDec/UniDec.common.settings
unidec_bin/recentCD.txt
unidec_modules/isolated_packages/ZoomBoxMargot.py
**/*.feather
unidec_bin/Other_builds.zip
unidec_bin/Example Data
unidec_bin/Presets/CDMS/Heck_CDMS_AAVs_120K_0148_slope
unidec_bin/Presets/CDMS/Heck_CDMS_AAVs_120k_0156
unidec_bin/Presets/CDMS/Heck_CDMS_AAVs_240K_02193_slope
unidec_bin/Presets/CDMS/Heck_CDMS_AAVs_240K_021_slope

