*.pyc
*.map
*.md5
*.tex
*.hdf5
unidec_doc
.idea
*.spec
*.sdf
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.o
*.obj
*.suo
conf.dat
unidec_src/UniDec/.vs
unidec_src/UniDec/x64
UD_peak_width.h
Licensing
Scripts
.svn
dist
build
old
TestSpectra
default_conf.dat
unidec_src/cfunction/x64
unidec_src/cfunction/libmypfunc32.dll
Scripts/MTM/unidec_tests.py
pyinstaller_64.bat
pyinstaller_64_dist.bat
/Scripts/MTM/fft_test.py
Scripts/test_with_spectrum.py
todo.txt
unidec/bin/Other_builds/
unidec_src/Old
test_GUI.py
Scripts/MTM/test_UniDec.py
unidec/metaunidec/test_MUD.py
unidec/bin/CDCReaderOld.exe
Scripts/MTM/Old/fft_test.py
unidec_src/UniDec/compilewin.bat
unidec_src/UniDec/UniDec.pdb
unidec_src/UniDec/compilewinpgcc.bat
/unidec/modules/GridDecon2.py
/unidec/bin/multiplierz/
unidec/modules/1D_Mass_Defects.txt
unidec/modules/2D_Mass_Defects.txt
unidec/modules/Mass_Defect_Extracts.txt
unidec/modules/Mass_Defect_Grid.txt
unidec/modules/Total_1D_Mass_Defects.txt
unidec/modules/Total_2D_Mass_Defects.txt
unidec/modules/Mass_Defect_Extracts_xvals.txt
unidec/modules/0_1D_Mass_Defects.txt
unidec/modules/0_2D_Mass_Defects.txt
unidec/modules/1_1D_Mass_Defects.txt
unidec/modules/1_2D_Mass_Defects.txt
unidec_src/UniDec/UniDec.VC.VC.opendb
unidec_src/UniDec/UD_sg.h
unidec_src/UniDec/UniDec_Mainh-rev485.h
unidec_src/UniDec/UniDech-rev511.h
unidec/bin/old_waters/
unidec/modules/Mass_Defect_Extracts_Total.txt
UniDecPastedSpectra/
unidec/iFAMS/test_unidecfiles/
/unidec/modules/waters_importer/old/
/unidec/modules/waters_importer/MassLynxLockMassProcessor.py
/unidec/modules/waters_importer/MassLynxRaw.lib
unidec_src/UniDec/UniDec.log
unidec_src/UniDec/oldVS/
/unidec/bin/Example Data/ADH_unidecfiles/ADH_fitdat.bin
/unidec/bin/Example Data/ADH_unidecfiles/ADH_grid.bin
/unidec/bin/Example Data/ADH_unidecfiles/ADH_match.dat
/unidec/bin/Example Data/ADH_unidecfiles/ADH_mass.txt
/unidec/bin/Example Data/ADH_unidecfiles/ADH_input.dat
/unidec/bin/Example Data/ADH_unidecfiles/ADH_massgrid.bin
/unidec/bin/Example Data/ADH_unidecfiles/ADH_error.txt
/unidec/bin/Example Data/ADH_unidecfiles/ADH_rawdata.txt
/unidec/bin/Example Data/ADH_unidecfiles/ADH_peaks.dat
/unidec/bin/Example Data/ADH_unidecfiles/default.hdf5
/unidec/bin/Example Data/BSA_unidecfiles/BSA_input.dat
/unidec/bin/Example Data/BSA_unidecfiles/BSA_match.dat
/unidec/bin/Example Data/BSA_unidecfiles/BSA_error.txt
/unidec/bin/Example Data/BSA_unidecfiles/BSA_grid.bin
/unidec/bin/Example Data/BSA_unidecfiles/BSA_massgrid.bin
/unidec/bin/Example Data/BSA_unidecfiles/BSA_rawdata.txt
/unidec/bin/Example Data/BSA_unidecfiles/BSA_fitdat.bin
/unidec/bin/Example Data/BSA_unidecfiles/BSA_mass.txt
/unidec/bin/Example Data/BSA_unidecfiles/BSA_peaks.dat
/unidec/bin/Example Data/UniDec_Figures_and_Files/
/unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_fitdat.bin
/unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_rawdata.txt
/unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_grid.bin
/unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_massgrid.bin
/unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_error.txt
/unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_match.dat
/unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_peaks.dat
/unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_input.dat
/unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_mass.txt
/unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_mass.txt
/unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_rawdata.txt
/unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_peaks.dat
/unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_fitdat.bin
/unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_input.dat
/unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_massgrid.bin
/unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_grid.bin
/unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_error.txt
/unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_grid.bin
/unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_rawdata.txt
/unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_error.txt
/unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_mass.txt
/unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_massgrid.bin
/unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_input.dat
/unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_fitdat.bin
/unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_peaks.dat
unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_Total_1D_Mass_Defects.txt
unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_Total_2D_Mass_Defects.txt
unidec/bin/Example Data/BSA_unidecfiles/BSA_chargedata.dat
unidec/bin/Example Data/BSA_unidecfiles/BSA_chargedata_areas.dat
unidec/bin/Example Data/BSA_unidecfiles/BSA_peakparam.dat
 /__pycache__/
 __pycache__/
 __pycache__
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_peak_areas.dat
unidec/bin/mkl_intel_thread.dll
unidec/bin/Example Data/ADH_unidecfiles/ADH_peak_areas.dat
unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_1D_Mass_Defects.txt
unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_2D_Mass_Defects.txt
Scripts/MTM/Old/greparam.py
unidec/bin/Presets/Marius/
MANIFEST.in
desktop.ini
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure1.pdf
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure2.pdf
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure3.pdf
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure4.pdf
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure5.pdf
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure6.pdf
unidec/bin/Example Data/BSA_unidecfiles/BSA_manualfile.dat
unidec/bin/Example Data/BSA_unidecfiles/BSA_report.aux
unidec/bin/Example Data/BSA_unidecfiles/BSA_report.log
unidec/bin/Example Data/BSA_unidecfiles/BSA_report.pdf
unidec/bin/recent.txt
unidec/bin/Example Data/BSA_unidecfiles/BSA_chargepeaks.txt
unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/Extract_grid_2D_Extract.txt
unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/Extract_total_2D_Extract.txt
ExtractFull2D_Da.txt
extracts.txt
sums.txt
unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/POPC_Nanodiscs_chargepeaks.txt
unidec/bin/Example Data/BSA_unidecfiles/BSA_peak_areas.dat
ofile.dat
BSA_report.aux
BSA_report.log
BSA_report.out
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure1.eps
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure2.eps
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure3.eps
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure4.eps
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure5.eps
unidec/bin/Example Data/BSA_unidecfiles/BSA_Figure6.eps
unidec/bin/Example Data/BSA_unidecfiles/BSA_report.out
unidec/bin/Example Data/BSA_unidecfiles/BSA_composite_spectrum.dat

unidec/modules/thermo_reader/RawFileReader
unidec/modules/thermo_reader/RawFileReaderExample
unidec/bin/Example Data/POPC_Nanodiscs_unidecfiles/Peaks_Mass_Defects.txt
*.diagsession
unidec_src/UniDec/UniDec.common.settings
unidec/bin/recentCD.txt
Scripts/MTM/Old/ZoomBoxMargot.py
*.feather
unidec/bin/Other_builds.zip
unidec/bin/Example Data/CDMS/GroEL_CDMS_1_unidecfiles/GroEL_CDMS_1_input.dat
unidec/bin/Example Data/CDMS/GroEL_CDMS_1_unidecfiles/GroEL_CDMS_1_mass.txt
unidec/bin/Example Data/CDMS/GroEL_CDMS_1_unidecfiles/GroEL_CDMS_1_peaks.dat
unidec/bin/Example Data/CDMS/GroEL_CDMS_1_unidecfiles/GroEL_CDMS_1_rawdata.npz
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_error.txt
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_fitdat.bin
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_grid.bin
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_input.dat
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_mass.txt
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_massgrid.bin
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_peak_areas.dat
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_peaks.dat
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_rawdata.txt
unidec/bin/Presets/CDMS/Heck_CDMS_AAVs_120K_0148_slope
unidec/bin/Presets/CDMS/Heck_CDMS_AAVs_120k_0156
unidec/bin/Presets/CDMS/Heck_CDMS_AAVs_240K_02193_slope
unidec/bin/Presets/CDMS/Heck_CDMS_AAVs_240K_021_slope
unidec/bin/Example Data/CDMS/GroEL_CDMS_1_unidecfiles/GroEL_CDMS_1_fitdat.bin
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_Figure1.pdf
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_Figure2.pdf
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_Figure3.pdf
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_Figure4.pdf
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_Figure5.pdf
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_Figure6.pdf
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_report.aux
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_report.log
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_report.pdf
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_Figure1.pdf
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_Figure2.pdf
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_Figure3.pdf
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_Figure4.pdf
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_Figure5.pdf
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_Figure6.pdf
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_report.aux
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_report.log
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_report.pdf
unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_Figure1.pdf
unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_Figure2.pdf
unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_Figure3.pdf
unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_Figure4.pdf
unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_Figure5.pdf
unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_Figure6.pdf
unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_report.aux
unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_report.log
unidec/bin/Example Data/GroEL UniDec_unidecfiles/GroEL UniDec_report.pdf
unidec/bin/Example Data/BSA_unidecfiles/BSA_ofile_crazy.dat
unidec/bin/Example Data/BSA_unidecfiles/BSA_report.html
unidec_src/UniDec/test_match.bat
unidec/LipiDec/LipyDec.py
unidec/LipiDec/SkyQuant.py
docker_commands.txt
unidec/bin/Example Data/BSA_unidecfiles/BSA_conv.bin
.pypirc
UniDec.egg-info
distpypi
publish_test.cmd
unidec/bin/IUPAC-atomic-masses.csv
unidec/modules/hramools.py
unidec/src/x64/
unidec/src/.vs/
pyproject.toml
unidec/iFAMS/pyqtgraph/
unidec/iFAMS/iFAMS_V5_GUI.py
unidec/iFAMS/GuiTestFun.py
unidec/bin/TestSpectra/test_1_unidecfiles/
unidec/bin/Example Data/UniChrom/UniDec_Figures_and_Files/
.dockerignore
unidec/src/test_match.bat
unidec/bin/Example Data/BSA_unidecfiles/test.html
unidec/bin/Example Data/BSA_unidecfiles/BSA_baseline.bin
unidec/bin/Example Data/CDMS/GroEL_CDMS_1_unidecfiles/GroEL_CDMS_1_report.html
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_match.dat
PublicScripts/DIA-PTCR/IL22/glycan_compare_hist_and_spectrum.py
unidec/bin/Example Data/ADH_unidecfiles/ADH_chargepeaks.txt
unidec/bin/Example Data/BSA_unidecfiles/BSA_extracted_heights.txt
unidec/bin/Example Data/BSA_unidecfiles/BSA_extracted_intensities0.txt
unidec/bin/Example Data/BSA_unidecfiles/BSA_mzpeakdata.dat
unidec/bin/Example Data/BSA_unidecfiles/BSA_total_extracted_heights.txt
unidec/bin/Example Data/BSA_unidecfiles/Extract_grid_2D_Extract.txt
unidec/bin/Example Data/BSA_unidecfiles/Extract_total_2D_Extract.txt
unidec/bin/Example Data/UniChrom/SEC_Native_Herceptin_deconvolved.mzML
unidec/bin/Example Data/BSA_unidecfiles/BSA_smashfile.dat
unidec/bin/Example Data/CDMS/GroEL_CDMS_1_unidecfiles/GroEL_CDMS_1_smashfile.dat
unidec/bin/Example Data/ADHclean_unidecfiles/ADHclean_conv.bin
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_match.dat
unidec/bin/Example Data/GroEL HCD UniDec_unidecfiles/GroEL HCD UniDec_ofile.dat
unidec/bin/Presets/CDMS/LDL STORI dat.dat
unidec/src/UniDecLib/
unidec/bin/Example Data/CDMS/GroEL_CDMS_1_unidecfiles/GroEL_CDMS_1_extracted_intensities0.txt
unidec/bin/WiffReaderCOM.dll
unidec/bin/WiffReaderCOM.pdb
unidec/bin/WiffReaderCOM.tlb
hashing.py
PublicScripts/MutantCycleAnalysis/Mutant Cycle Analysis/
unidec/modules/gui_elements/UniDec.mplstyle
.eggs/
Dockerfile_isodec

