attrdict
attrdict3
contourpy
cycler
fonttools
h5py
Jinja2
kiwisolver
llvmlite
lxml
lxml_html_clean
MarkupSafe
matplotlib
mpld3
natsort
networkx
numba
numpy
packaging
pandas
pillow
plotly
pubsub
pymzml
isodec>=2.0.1
pyisogen>=1.0.8
UniDecImporter>=0.1.0
pyparsing
Pypubsub
pyteomics
python-dateutil
pytz
regex
scipy
setuptools
six
tenacity
tzdata
wxPython
